body {
    background-color: #F1F3F5;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: khaki;
}


.navHeader {
    font-family: -apple-system, system-ui, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 64px;
    color: #745fb5;
    text-align: center;
    background-color: hotpink;
}  

.back-button {
    text-decoration: none;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: all 100ms linear;
    background-color: indigo;
}    

.back-button:hover, .back-button:focus {
    color: #fff;
    background: #745fb5;
    opacity: 1;
}    

.socialIcons {
    text-align: right;
    background-color: lightcoral;
}   

.container {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
    font-weight: 200;
    font-size: 48px;
    text-align: center;
    color: #111111;
}  

#intro {
    font-family: -apple-system, system-ui, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #667788;
    text-align: center;
}

#searchBar {
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 35%;
    background: #fff;
    box-shadow: 0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3);
    display: flex;
    height: 64px;
    width: 50%;
    align-items: center;
    cursor: text;
}

.prefix{
    color: rgba(102,119,136,.5);
    font-weight: 400;
    user-select: none;
    line-height: 1.5em;
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba(241,243,245,.5);
    margin: 0 0 0 16px;
    box-shadow: 0 1px 1px rgba(102,119,136,.25);
}

#sponsorInfo {
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 30px;
    background-color: goldenrod;
}

.sponsorText-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #667788;
    text-align: center;
}

.sponsorText-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
}

.sponsorText-3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #667788;
    text-align: center;
}

/* 
#box-container {
    display: flex;
    height: 250px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    background-color: aqua;
}


.box {
    background: #745fb5;
    text-align: center;
    padding: 60px;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(102,119,136,.55);
    text-shadow: 0 1px 1px rgba(51,68,85,.3);
}
*/
h4 {
    font-family: -apple-system, system-ui, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #745fb5;
}

hr {
    color: black;
}

p {
    font-family: cousine, sfmono-regular, Consolas, Menlo, "liberation mono", "ubuntu mono", Courier, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
}


.list-container {
    display: flex;
    flex-direction: column;
    background-color: #667788;
}

.list-1{
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
}

.column-1 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
}

.column-2 {
    background-color: orangered;
    width: 50%;
    height: 50%;
} 